/* 
    Requirements:
    Build from "scratch"

    Make sure to use:
        Classes
        Flexbox
        Background-Image
        Provided Color Pallete (actually option to replace with our own, just find one on "coolors"

        STRETCH GOALS

        -Make it about my hometown (Complete)
        -Use a different color palette (I tried a few and actually prefer the original, it works well with the greens and blues in the photos
        -Add a Google Font (Complete)
        -Find a way to user :hover (Complete)
        -Add a whole new section

    Considered Fonts: Fira Sans Condensed
 

*/

/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0px;
    text-align: center;
    border-radius: 20px;
    color: #1D3557;
    font-family: "Fira Sans Condensed", sans-serif;}

h3 {
    font-size: 30px;
}

/* Hero Section */

#title-visit {
    background-color: #1D3557;
    border-radius: 10px;
    width: 200px;
    margin: 10px auto;
    border: solid 1px #F1FAEE 
}

#subtitle-visit {
    background-color: #457B9D;
    border-radius: 10px;
    width: 300px;
    margin: 10px auto;
    border: solid 1px #F1FAEE 
}

.section-hero {
    text-align: center;
    background-image: url("images/bothell-bridge-new.jpg");  
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Activity Section */

.section-activities {
    background-color: #F1FAEE;
    padding: 10px;
}

.section-highlighted-activities {
    display: flex;
    justify-content:space-evenly;
    align-items: start;
}

.section-activity {
    width: 300px;
    padding: 20px;
}

.image-activity {
    border-radius: 50%;
    width: 200px;
}

.section-activity:hover {
    border: black dashed 1px;
    border-radius: 25px;
    background-color: #F1FAFF;
    
}


/* Guide Section */

.section-guide {
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#your-guide {
    display: flex;
    background-color: #A8DADC;
    border-bottom: 10px solid #1D3557;
    width: 400px;
    border-radius: 10px;
    color: black;
    margin: 10px;
    padding: 20px;
}

#your-guide-blurb {
    font-style: italic;
    padding: 10px;
}

#img-your-guide {
    width: 200px;
    margin: 10px 0px;
    border-radius: 10px;
}